$bg-color: #FFFFFA;             // tła ekranów, linki w nagłówku i tekst na ciemnych tłach
$nav-color: #4a4a49;            // tło nagłówka, kolor tekstu w kolumnach
$sidebar-color: #5B605F;        // panel boczny, nawigacja dolna

$logo-color--1: #FFFFFF;        // logo kolor pierwszy
$logo-color--2: #E58A20;        // logo kolor drugi

$btn-color: #FF6600;            // przyciski, wyróżnienia, nagłówki ekranów
$trash-color: #BD4932;          // kolor ikony kosza
$ico-color: #A1A194;            // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji

$msg-color--info: #3498DB;      // wiadomość typu info
$msg-color--warning: #FFB03B;   // wiadomość typu warning
$msg-color--success: #468966;   // wiadomość typu success