$white-color: #FFFFFA; // background, text in dark section
$light-grey-color: #A1A194; // text in table rows, icon awesome
$cumstom-grey-color: #5B605F; // sidebar, bottom nav
$dark-grey-color: #4a4a49; // bg header, text in cols
$light-orange-color: #E58A20; // logo second color
$custom-orange-color: #FF6600; // buttons, links hover
$dark-orange-color: #BD4932; // trash icon

$blue-color: #3498DB; // message alert info
$yellow-color: #FFB03B; // message alert warning
$green-color: #468966; // message alert success