.title-new-schedule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em 2em;
  padding-bottom: 1em;
  border-bottom: 0.5px solid $light-grey-color;

  h3 {
    color: $custom-orange-color;
    font-size: 2em;
  }

  a {
    color: $white-color;
    background-color: $custom-orange-color;
    padding: 0.5em 0.5em;
  }
}

.name-new-schedule {
  display: flex;
  flex-direction: row;
  margin: 2em 2em;
  padding-bottom: 1em;
  justify-content: space-between;
  padding-right: 4em;
  color: $light-grey-color;

  h2 {
    font-size: 2em;
    font-weight: 300;
  }

  input {
    border: 0.3px solid $light-grey-color;
    width: 80%;
    font-size: 1.2em;

    &::placeholder, &::content {
      padding-left: 1em;
    }

  }
}

.nr-new-schedule {
  display: flex;
  flex-direction: row;
  margin: 2em 2em;
  padding-bottom: 1em;
  color: $light-grey-color;

  h2 {

    font-size: 2em;
    font-weight: 300;
  }

  input {
    border: 0.3px solid $light-grey-color;
    width: 3%;
    font-size: 1.2em;
    margin-left: 4em;

    &::placeholder, &::content {
      padding-left: 1em;
    }
  }
}

.new-schedule-container {
  background-color: $white-color;
  border: dashed 1px $cumstom-grey-color;
  margin: 0 3em;
}

